<div class="container">
  <div class="container-fluid">
    <div class="row"> <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li class="active">Пользовательское соглашение</li>
    </ol>
      <div class="col-md-12">

        <h2>Пользовательское соглашение</h2>
        <hr>


        <p>Настоящее Соглашение об использовании сети «free.vozovoz.ru» (далее – «Сеть») регулирует отношения между ООО «Возовоз» ИНН 7842519720 (далее — «Абонентом»), предоставляющим доступ к Сети посредством использования беспроводного доступа Wi-Fi физическим лицом, прошедшим процедуру идентификации (далее — «Пользователь»).
          Текст настоящего соглашения является публичной офертой и прохождение процедуры идентификации является принятием оферты, то есть полным и безоговорочным согласием Пользователя с условиями настоящего Пользовательского соглашения (далее – «Соглашения»).
        </p>
        <h4>Доступ к Сети</h4>
        <p>Для получения доступа к Сети физическому лицу, необходимо подключить своё пользовательское (оконечное) оборудование к сети беспроводного доступа «free.vozovoz.ru», то есть к сети с одноименным наименованием. Запустить интернет-браузер на своем устройстве и открыть любую интернет-страницу, после этого пользователь будет автоматически перенаправлен на страницу регистрации в Сети.</p>
        <p>На странице регистрации ознакомиться с условиями Соглашения.</p>
        <p>Пройти процесс идентификации. Прохождение идентификации осуществляется Пользователем с помощью ввода кода из смс сообщения. Для прохождения идентификации с помощью смс сообщения, Пользователю необходимо сделать следующие действия на своем устройстве:</p>
        <p>На странице Абонента, после подключения к сети Wi-Fi «free.vozovoz.ru» в предусмотренные поля: 1) «Номер телефона» и 2) «Экспедиторская расписка» ввести свой номер мобильного телефона и номер груза, который соответствует номеру экспедиторской расписки и нажать на кнопку «Регистрация». По результатам отправки запроса Абоненту на телефонный номер Пользователя (указанный в запросе) придет сгенерированный одноразовый пароль для регистрации. Данный пароль должен быть введен в поле «Код из SMS» после чего Пользователь должен нажать на кнопку «Войти». При успешной идентификации (правильно введенном коде и безаварийной работе Сети) будет предоставлен доступ в Интернет. Отправка смс сообщения для Пользователя бесплатная. </p>
        <p>В случае успешной авторизации Пользователю будет предоставлен доступ к сети Интернет. В случае неудачной авторизации, Пользователю будет показано сообщение о ошибке, возможные причины и способы решения.</p>
        <p>Проходя процедуру идентификации Пользователь подтверждает, что ознакомлен и принимает условия настоящего Соглашения.</p>
        <p>Доступ к Сети Абонента предоставляется ежедневно в режиме времени, соответствующем режиму работы подразделения Абонента, на территории которого установлено оборудование для доступа Пользователя к Сети (за исключением проведения необходимых профилактических и ремонтных работ).</p>
        <h4>Описание Услуги</h4>
        <p>Услуга обеспечивает Пользователям доступ к Сети посредством использования сети беспроводного доступа Wi-Fi далее – «Услуга». Услуга предоставляется только при нахождении Пользователя в зоне уверенного приёма радиосигнала точки доступа Сети. Услуга предоставляется Пользователям на безвозмездной основе на условиях настоящего Соглашения.</p>
        <p>Доступ к Услуге возможен с использованием мобильных телефонов, планшетных персональных компьютеров, ноутбуков и иного оборудования, поддерживающего подключение к сети по технологии Wi-Fi. Настройка пользовательского (оконечного) оборудования для пользования Сетью производится Пользователем самостоятельно.</p>
        <p>Уровень сигнала Сети зависит от мощности излучения беспроводной точки доступа и может изменяться в зависимости от расстояния до точки доступа, расположенных вблизи строений, конструкций, иных приборов с электромагнитным, радио и иным излучением. Абонент не гарантирует скорость обмена информацией между пользовательским (оконечным) оборудованием и сетью связи Абонента и бесперебойность доступа к Услуге.</p>
        <p>С помощью одного и того же номера мобильного телефона можно идентифицировать одно пользовательское (оконечное) устройство. После прохождения идентификации учетная запись действует 30 минут, далее произойдет автоматическое отключение от сети. Повторно подключится к сети можно через 12 часов с момента отключения.
          При использовании Услуги, пользовательскому (оконечному) оборудованию присваиваются соответствующие IP-адреса.
        </p>
        <p>Абонент не ограничивает Пользователя в доступе к любым ресурсам сети Интернет (сетям, серверам, хранилищам данных и другим) за исключением ресурсов сети Интернет, доступ к которым ограничен в соответствии с федеральным законом требованиями иных нормативных актов и (или) решением судебных органов.
          При оказании Услуги Абонент оставляет за собой право на показ рекламных, информационных и иных материалов или сообщений по своему усмотрению. В соответствии с настоящим Соглашением, Пользователь, пользуясь предоставляемой Абонентом Услугой, выражает предварительное согласие на получение рекламы (рекламной информации) в любой форме и в любом виде, в том числе путем демонстрации на Абонентском устройстве рекламных, информационных и других материалов или сообщений.
        </p>
        <p>Абонент вправе вести учет подключений к Сети и сетевого трафика пользователей. Собирать, хранить и обрабатывать (при необходимости) данные конечных Пользователей, в том числе их мобильные номера. Пользователь принимает условие, что Абонент имеет право периодически отслеживать проходящую через Сеть информацию и раскрывать любые сведения, если это необходимо в соответствии с законом, требованиями уполномоченных государственных органов и организаций (в том числе предоставлять данные их мобильных номеров Операторам связи), если это необходимо для нормального функционирования Сети, либо для защиты Абонента, других пользователей, а равно третьих лиц, чьи законные права и интересы были нарушены.</p>
        <h4>Ограничения пользования Сетью</h4>
        <p>При использовании Сети запрещается:</p>
        <p>Ограничивать доступ других Пользователей или создавать препятствия для других Пользователей при пользовании Услугой;</p>
        <p>Производить рассылку СПАМа, вредоносных программ (вирусов), отправлять рекламные, информационные и другие материалы без согласия (или при отсутствии заявки) со стороны адресатов;</p>
        <p>Распространять в сети Интернет запрещенные материалы, призывы к насилию, свержению власти и другой информации, запрещенной для распространения на территории РФ;</p>
        <p>Нарушать правила использования любых ресурсов сети Интернет, установленные владельцами этих ресурсов, и/или наносить какой-либо ущерб ресурсам Абонента, иным пользователям Интернет;</p>
        <p>Производить самовольное (несанкционированное) проникновение в любые технологические компоненты (узлы), программы, базы данных и иные составляющие элементы сети Абонента, а равно производить любые иные действия, способные нанести вред Абоненту, владельцам ресурсов в сети Интернет и/или пользователям сети Интернет;</p>
        <p>Посылать, передавать, воспроизводить, предоставлять или в любом виде использовать в коммерческих целях информацию, программное обеспечение, или другие материалы, полностью или частично, полученные посредством Услуг, в том числе защищенные авторским и иными интеллектуальными правами, без согласия правообладателя / автора/ поставщика информации/ уполномоченного представителя.</p>
        <p>Передавать учетные данные для работы в сети беспроводного доступа третьим лицам.</p>
        <p>Использовать пользовательское (оконечное) оборудование в качестве прокси-серверов, роутеров и т.п. для каких-либо других подключенных через них компьютеров, подсетей и т.п.</p>
        <p>Совершать иные действия, не указанные выше и противоречащие общепринятым нормам использования ресурсов сети Интернет или создающие угрозу целостности сети связи Абонента.</p>
        <p>Абонент не несёт ответственности за:</p>
        <p>Прямой или косвенный ущерб, причиненный Пользователю в результате использования или невозможности использования Услуги. Любые затраты или ущерб, прямо или косвенно возникшие в результате получения Пользователем информации и услуг через сеть Интернет посредством Услуги;</p>
        <p>Функционирование и доступность отдельных сегментов сети Интернет.</p>
        <p>За нарушение со стороны Пользователя законодательства Российской Федерации, исключительных и иных прав и законных интересов третьих лиц во время использования Услуги.</p>
        <p>Абонент вправе в любой момент без предварительного предупреждения приостановить или ограничить оказание Услуг Пользователю в случае нарушение Пользователем условий, указанных в разделе «Ограничения пользования Сетью» настоящего Соглашения.</p>
        <h4>Техническая поддержка Сети</h4>
        <p>В случае возникновения проблем при работе в сети беспроводного доступа, Пользователь может отправить заявку в техническую поддержку по электронной почте на адрес support@vozovoz.ru.</p>
        <h4>Заключительные положения</h4>
        <p>Настоящее Соглашение вступает в силу с даты его публикации по адресу http://wifi.vozovoz.ru/wifi/agreement. Срок действия настоящего Соглашения не ограничен. Абонент вправе в одностороннем порядке внести любые изменения/дополнения в настоящее Соглашения путём публикации новой редакции Соглашения в сети Интернет по адресу: http://wifi.vozovoz.ru/wifi/agreement. Такие изменения вступают в силу с момента публикации новой редакции Соглашения. Пользователь соглашается с изменением условий настоящего Соглашения, если продолжает пользоваться Услугой после публикации новой редакции Соглашения.</p>
        <p></p>
      </div>
    </div>

  </div>
</div> <!-- /container -->