<%provide(:title, "Роутеры")%>
<div class="container">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Роутеры</div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation"><a href="/router">Все роутеры</a></li>
              <li role="presentation"><a href="/router/new">Добавить роутеры</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Hostpot пользователи</div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation"><a href="/hotspot_customer">Все пользователи</a></li>
              <li role="presentation"><a href="/hotspot_customer/show_log">Log</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>